.scroll-pane .scroll-bar:vertical {
    -fx-background-color: black;
}

.scroll-pane .scroll-bar:vertical .thumb {
    -fx-background-color: #00B4F4;
    -fx-background-radius: 2em;
}

.scroll-pane .increment-button, .scroll-pane .decrement-button {
    -fx-background-color: transparent;
}

.scroll-pane .scroll-bar:vertical .increment-arrow, .scroll-pane .scroll-bar:vertical .decrement-arrow {
    -fx-background-color: #00B4F4;
}
