.combo-box
{
    -fx-background-color: black;
    -fx-border-color: white;
    -fx-border-width: 2px;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
}

.combo-box-popup .increment-button, .list-view .decrement-button {
    -fx-background-color: transparent;
}

.combo-box .arrow {
    -fx-background-color: #00B4F4;
}

.combo-box .cell {
    -fx-font-family: "Source Code Pro";
}

.combo-box .cell:selected {
    -fx-text-fill: #00B4F4;
}

.combo-box-popup .list-view
{
    -fx-background-color: black;
    -fx-text-fill: white;
}

.combo-box .scroll-bar {
    -fx-background-color: transparent;
}

.combo-box-popup .increment-arrow, .combo-box-popup .decrement-arrow {
    -fx-background-color: #00B4F4;
}

.combo-box-popup .scroll-bar .thumb{
    -fx-background-color: #00B4F4;
    -fx-background-radius: 2em;
}
.combo-box-popup .list-view .list-cell
{
    -fx-background-color: black;
    -fx-text-fill: #00b4f4;
    -fx-font-family: "Source Code Pro";
}

.combo-box-popup .list-view .list-cell:hover {
    -fx-background-color: #00B4F4;
    -fx-text-fill: black;
}

.combo-box-popup .scroll-bar:vertical .increment-arrow, .scroll-bar:vertical .decrement-arrow,
.scroll-bar:horizontal .increment-arrow, .scroll-bar:horizontal .decrement-arrow{
    -fx-background-color: #00B4F4;
}