.chart {
  -fx-background-color: black;
}

.chart-content {
  -fx-background-color: black;
}

.chart-title {
  -fx-text-fill: #00B4F4;
  -fx-font-size: 1.6em;
}

.axis-label {
  -fx-text-fill: #00B4F4;
}

.chart-plot-background {
  -fx-background-color: transparent;
}

.chart-vertical-grid-lines {
  -fx-stroke: #00B4F4;
  -fx-stroke-width: 2px;
  -fx-opacity: 0.3;
}

.chart-horizontal-grid-lines {
  -fx-stroke: #00B4F4;
  -fx-stroke-width: 2px;
  -fx-opacity: 0.3;
}

.axis {
  -fx-font-size: 1.4em;
  -fx-tick-label-fill: #00B4F4;
  -fx-font-family: Tahoma;
  -fx-tick-length: 15;
  -fx-minor-tick-length: 7;
}

.axis-label {
  -fx-text-fill: #00B4F4;
}

.chart-series-line {
  -fx-stroke-width: 3px;
  -fx-effect: null;
  -fx-stroke: #00B4F4;
}

.chart-line-symbol {
  visibility: hidden;
}
