.button {
    -fx-background-color: black;
    -fx-border-radius: 15px;
    -fx-background-radius: 15px;
    -fx-border-color: white;
    -fx-text-fill: #00b4f4;
    -fx-border-width: 2px;
}

.button:hover {
    -fx-background-color: #00b4f4;
    -fx-border-color: black;
    -fx-text-fill: black;
}

.button:pressed {
    -fx-background-color: #004c67;
}