.list-view .list-cell {
    -fx-background-color: black;
    -fx-text-fill: #00B4F4;
    -fx-font-family: "Source Code Pro";
    -fx-font-size: 1.2em;
    -fx-border-color: #00b4f4;
    -fx-border-width: 0.5px;
}

.list-view .list-cell:hover {
    -fx-background-color: #00B4F4;
    -fx-text-fill: black;
}

.list-view .scroll-bar:vertical, .scroll-bar:horizontal {
    -fx-background-color: black;
}

.list-view .scroll-bar:vertical .thumb, .list-view .scroll-bar:horizontal .thumb {
    -fx-background-color: #00B4F4;
    -fx-background-radius: 2em;
}

.list-view .increment-button, .list-view .decrement-button {
    -fx-background-color: transparent;
}

.list-view .scroll-bar:vertical .increment-arrow, .scroll-bar:vertical .decrement-arrow,
.scroll-bar:horizontal .increment-arrow, .scroll-bar:horizontal .decrement-arrow{
    -fx-background-color: #00B4F4;
}